html,
body,
#root,
.App {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

#cv-view {
  position: sticky;
  top: 10px;
  height: 300mm;
}

.header-section {
  text-align: center;
  border-bottom: 2px solid var(--dark);
}

.contacts {
  font-weight: 300;
  font-style: italic;
}

.section-title {
  border-bottom: 1px solid var(--gray);
  font-weight: bold;
  font-size: 1.5em;
}

.about-me {
  font-style: italic;
  font-size: 1em;
  font-weight: 100;
  text-align: justify;
}

.item-grid {
  display: flex;
  justify-content: space-between;
}

.from-to-dates {
  font-style: italic;
  font-weight: 100;
  font-size: 0.9em;
  color: var(--secondary);
}

.course-name {
  font-weight: bold;
  font-size: large;
}

.school-name {
  font-size: 0.7em;
  text-transform: uppercase;
}

.city {
  font-weight: bold;
  font-size: 0.9em;
}
